@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

:root {
  --Tema1: #1e3c72;
  --Tema2: #2a5298;
  --hovers: #5375b9;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: "Poppins", serif;
}

.menu {
  background-color: var(--Tema1);
  color: #fff;
  height: 65px;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.menuLinks {
  height: 100%;
  transition: transform 0.5s;
  display: flex;
}

.menuItem {
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}

.menuItem:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0);
}

.menuLink {
  color: #fff;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  height: 100%;
  align-items: center;
}

.menuLink:hover {
  background-color: var(--hovers);
}

.menuArrow {
  transform: var(--transform);
  transition: transform 0.3s;
  display: block;
  margin-left: 3px;
}

.menuNesting {
  list-style: none;
  transition: clip-path 0.3s;
  clip-path: var(--clip);
  position: absolute;
  right: 0;
  bottom: 0;
  width: max-content;
  transform: translateY(100%);
  background-color: #1e3c72;
}

.menuLink-inside {
  padding: 30px 100px 30px 20px;
}

.menuLink-inside:hover {
  background-color: var(--hovers);
}

.menuShoes {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  display: none;
}

.menuImg {
  display: block;
  width: 36px;
}

@media (max-width: 800px) {
  .menuShoes {
    display: flex;
  }

  .menuLinks {
    position: fixed;
    max-width: 400px;
    width: 100%;
    top: 65px;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(
      to bottom,
      #1e3c72 0%,
      #1e3c72 1%,
      #2a5298 100%
    );
    overflow-y: auto;
    display: grid;
    grid-auto-rows: max-content;
    transform: translateX(100%);
  }

  .menuItem {
    --clip: 0;
    overflow: hidden;
  }

  .menuItem-active {
    --transform: rotate(0);
    --background: var(--Tema2);
  }

  .menuItem-show {
    background-color: var(--background);
  }

  .menuLinks-show {
    transform: unset;
    width: 100%;
  }

  .menuLink {
    padding: 25px 0;
    padding-left: 30px;
    height: auto;
  }

  .menuArrow {
    margin-left: auto;
    margin-right: 20px;
  }

  .menuNesting {
    display: grid;
    position: unset;
    width: 100%;
    transform: translateY(0);
    height: 0;
    transition: height 0.3s;
  }

  .menuLink-inside {
    width: 90%;
    margin-left: auto;
    border-left: 1px solid #798499;
  }
}
